
#youwo td.youwo .icon {
  float: right;
  margin: 0 0 0 9px;
}
.youwo-topic-navigation {
  padding: 1em 3em 0 0;
}
.youwo-topic-navigation .topic-previous {
  text-align: left;
  float: right;
}
.youwo-topic-navigation .topic-next {
  text-align: right;
  float: left;
}
